dev/pipeline/runMwapiFunction.json
{
	"name": "runMwapiFunction",
	"properties": {
		"activities": [
			{
				"name": "get_station_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "station_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "mwapi_each_station",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_station_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_station_list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "mwapi2db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@concat('{\"station_type\":',item().station_type.value,'\"station_config\":',item().station_config.value,'}')",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureBlobStorageEwxDev",
											"type": "LinkedServiceReference"
										},
										"path": "ewx-data"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['station_id']"
											},
											"sink": {
												"name": "station_id"
											}
										},
										{
											"source": {
												"path": "['request_datetime']"
											},
											"sink": {
												"name": "request_datetime"
											}
										},
										{
											"source": {
												"path": "['pcpn']"
											},
											"sink": {
												"name": "pcpn"
											}
										},
										{
											"source": {
												"path": "['data_datetime']"
											},
											"sink": {
												"name": "data_datetime"
											}
										},
										{
											"source": {
												"path": "['atemp']"
											},
											"sink": {
												"name": "atemp"
											}
										},
										{
											"source": {
												"path": "['relh']"
											},
											"sink": {
												"name": "relh"
											}
										}
									],
									"collectionReference": "$['resp_transformed']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "mwapi_rest_dataset",
									"type": "DatasetReference",
									"parameters": {
										"station_type": {
											"value": "@item().station_type",
											"type": "Expression"
										},
										"station_config": "@item().station_config"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "observations_table",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 5,
		"variables": {
			"mwapioutput": {
				"type": "String"
			}
		},
		"annotations": []
	}
}