dev/pipeline/runMwapiFunction.json
{
	"name": "runMwapiFunction",
	"properties": {
		"activities": [
			{
				"name": "get_station_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "stations",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "mwapi_each_station",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_station_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_station_list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "set_json_body",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "mwapi_rest_body",
								"value": {
									"value": "@concat('{\"station_type\":\"',\n  item().station_type, \n  '\",\"station_config\":',\n  item().station_config,\n  '}'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "mwapi_function",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "set_json_body",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "mwapi",
								"method": "POST",
								"body": {
									"value": "@variables('mwapi_rest_body')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureFunctionEwxDataCollect",
								"type": "LinkedServiceReference",
								"parameters": {
									"station_type": {
										"value": "@item().station_type",
										"type": "Expression"
									},
									"station_config": {
										"value": "@item().station_config",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "fnoutput",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "mwapi_function",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "readings",
								"value": {
									"value": "@string(activity('mwapi_function').output.Response)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set_json_body",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@variables('mwapi_rest_body')",
										"type": "Expression"
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['station_id']"
											},
											"sink": {
												"name": "station_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['request_datetime']"
											},
											"sink": {
												"name": "request_datetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['pcpn']"
											},
											"sink": {
												"name": "pcpn",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['data_datetime']"
											},
											"sink": {
												"name": "data_datetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['atemp']"
											},
											"sink": {
												"name": "atemp",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['relh']"
											},
											"sink": {
												"name": "relh",
												"type": "Double"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "mwapi_rest_dataset",
									"type": "DatasetReference",
									"parameters": {
										"station_type": "EXAMPLE"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "example_output_csv",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 5,
		"variables": {
			"mwapioutput": {
				"type": "String"
			},
			"stations_station_type": {
				"type": "String"
			},
			"stations_station_config": {
				"type": "String"
			},
			"mwapi_rest_body": {
				"type": "String"
			},
			"readings": {
				"type": "String"
			}
		},
		"annotations": []
	}
}